.tasks {
    width:400px;
    height:30px;
    border-radius: 5px;
    background-color:rgb(236, 236, 236);
    font-size: 24px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom : 5px;

}

.inputTask {
 width:350px;
 height:30px;
 border-radius:5px;
 border-style: hidden;
 background-color:rgb(236, 236, 236);
 font-size: 25px;
 color:black;
 display : fixed;

}
.addedTask {
    width:40px;
    height:30px;
    color:magenta;
    font-size: 25px;
    margin-left: 2px;
    border-radius: 5px;
    border-style : hidden;
}

.mainDiv{
    margin-top: 300px;
    margin-left: 550px;
}